.calculator {
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}

.display {
  text-align: right;
  margin-bottom: 1px;
}

input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 40px;
  width: 98%;
  height: 35px;
  background-color: #858693;
  color: #fff;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}

input[type="text"] {
  text-align: right;
  font-size: 14px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5px;
  width: 100%;
}

.calculator-button button {
  padding: 10px;
  font-size: 18px;
  background-color: #e0e0e0;
  border: 1px solid #bababa;
  border-radius: 5px;
  cursor: pointer;
}

button.calculator-button.specific-button.specificButton {
  width: 150px;
  margin-top: 1px;
  margin-right: 1px;
}

button.calculator-button.dot {
  width: 74px;
  margin-right: 1px;
}

button.calculator-button.equal {
  width: 74px;
}

button.calculator-button.ac-button {
  padding-top: 10px;
  padding-bottom: 10px;
}

button.calculator-button {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #bababa;
  background-color: #e0e0e0;
  cursor: pointer;
}

button.calculator-button.orange {
  background-color: #f5913f;
}
.display-quotes{
  text-align: center;
  display: block;
}